<nav class="navbar navbar-default navbar-fixed-top" v-bind:class="{'navbar-inverse' : inverted}">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" @click="showNavbar=!showNavbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">vue-webpack-typescript</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <collapse id="navbar" class="navbar-collapse" v-model="showNavbar">
      <ul class="nav navbar-nav">
        <li v-for="link in links" v-bind:class="{'active' : $route.path == link.path}">
          <router-link v-bind:to="link.path">\{{link.name}}</router-link>
        </li>
      </ul>
    </collapse>
  </div>
</nav>
