<nav :class="['navbar fixed-top navbar-expand-lg', inverted ? 'navbar-dark bg-dark' : 'navbar-light bg-light']">
  <a class="navbar-brand" href="#">vue-webpack-typescript</a>
  <button class="navbar-toggler" type="button" aria-controls="navbarNavAltMarkup"
    aria-expanded="false" aria-label="Toggle navigation" @click="showNavbar=!showNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div :class="['collapse navbar-collapse', { 'show': showNavbar } ]">
    <div class="navbar-nav">
      <router-link v-for="link in links" :key="link.name" :to="link.path" :class="['nav-item', 'nav-link', {'active' : $route.path == link.path}]">\{{link.name}}</router-link>
    </div>
  </div>
</nav>
