<b-container class="content">
  <b-row>
    <b-col class="content">
      <h1>
        <strong>Thank you for using
          <span class="text-primary package">\{{package}}</span>
        </strong>
      </h1>
      <p>This project is running in
        <strong class="mode">\{{mode}} mode</strong>
      </p>
      <p>Make sure to follow the project on
        <a :href="repo">GitHub</a> to stay up to date with the latest releases, or contribute to the project by opening an issue or making
        a pull-request!</p>
    </b-col>
  </b-row>
</b-container>
